<div class="profile-page-wrapper">
    @if (profile) {
    <app-profile-header [profileData]="profile" (followToggle)="onFollowToggle()" (banToggle)="onBanToggle()"
        (deleteUser)="onDeleteUser()">
    </app-profile-header>

    <app-feed [forUser]="profile.user.username"></app-feed>
    }
</div>

@if (showConfirmModal) {
<app-confirmation-modal [message]="confirmMessage" [confirmText]="confirmButtonText" (confirm)="onConfirmAction()"
    (cancel)="showConfirmModal = false"></app-confirmation-modal>
}