<div class="container">
  <div class="app-logo">
    <div class="logo-icon">
      <span class="material-icons">auto_stories</span>
    </div>
    <div class="logo-text">
      <span class="app-name">01Blog</span>
      <span class="app-tagline">Share Your Stories</span>
    </div>
  </div>

  <nav class="nav-items">
    @for (item of navItems(); track item.id) {
    <a class="nav-item" (click)="handleNavClick(item)"
      routerLink="{{ (item.id ==='profile')?`profile/`+getUsername():item.id}}" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <div class="nav-content">
        <div class="icon-wrapper">
          <span class="material-icons">{{ item.icon }}</span>

          @if (item.id === 'notifications' && unreadCount() > 0) {
          <span class="badge">
            {{ unreadCount() > 99 ? '99+' : unreadCount() }}
          </span>
          }

        </div>
        <span class="label">{{ item.label }}</span>
      </div>
    </a>
    }
  </nav>
  <div class="buttons">
    <button class="create-post" routerLink="/create">
      <span class="material-icons">add</span>
      <span>Create Post</span>
    </button>
    <button class="logout" (click)="logout()">
      <span class="material-icons">logout</span>
      <span>Log Out</span>
    </button>
  </div>
</div>