// src/styles/theme.scss

@use '@angular/material' as mat;
@import 'variables';

// Define Material palettes
$my-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 700);
$my-accent: mat.define-palette(mat.$purple-palette, 500, 100, 700);
$my-warn: mat.define-palette(mat.$red-palette);

// Define Material theme
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: mat.define-typography-config((
    font-family: $font-family
  )),
));

// Include all Material component styles
@include mat.all-component-themes($my-theme);
