@use '../../../variables' as *;
.container {
  overflow: scroll;
    app-comment-card {
      display: block;
      margin-bottom: $space-md; 
  
      &:last-of-type {
        margin-bottom: $space-lg; 
      }
    }
  
    app-comment-add {
      display: block; 
    }
  }
  