@use '../../../variables' as *;

.container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: $space-md;

    .user-container {
        background: $surface-dark;
        border-radius: $border-radius-lg;

        .actions {
            padding-right: $space-sm;
        }

        display: flex;
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }
}