<div class="post-card" (click)="navigate()">

    <!-- User Header -->
    @if(post.isOwn){
    <app-user-header></app-user-header>

    }@else{
    <app-user-header [userr]="post.user"></app-user-header>

    }

    <!-- Post Title -->
    <h3 class="post-title">{{ post.title }}</h3>

    <!-- Optional: Post Content Summary/Media -->

    <div class="post-actions">
        <div class="left-actions">
            <div class="like-info">
                <button class="like-button" (click)="$event.stopPropagation(); likeClicked() ">
                    <svg xmlns="http://www.w3.org/2000/svg" class="like-icon" [class.liked]="post.isLiked"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none">
                        <path
                            d="M2 9.1371C2 14 6.01943 16.5914 8.96173 18.9109C10 19.7294 11 20.5 12 20.5C13 20.5 14 19.7294 15.0383 18.9109C17.9806 16.5914 22 14 22 9.1371C22 4.27416 16.4998 0.825464 12 5.50063C7.50016 0.825464 2 4.27416 2 9.1371Z" />
                    </svg>
                </button>
                <span class="like-count" [class.liked]="post.isLiked">{{ post.totalLikes| count}}</span>
            </div>

            @if(post.isOwn){
            <button class="edit-button" (click)="$event.stopPropagation(); editNavigate()">
                Edit Post
            </button>
            }

        </div>
        <span class="timestamp">{{ post.createdAt | date: 'short' }}</span>
    </div>

</div>